<div class="container">
    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let user of usersOnline" (click)="getChat(user.id)">
                    <img ngxGravatar [email]="'simas.lucas@hotmail.com'">
                    {{ user.name }}
                </li>
            </ul>
        </div>
        
        <div class="col-8">
            <ul>
                <li *ngFor="let message of messages">
                    {{ message.message }}
                </li>
            </ul>
            <form [formGroup]="form" (submit)="sendMessage()">
                <input type="text" formControlName="message" />
                <button type="submit" [disabled]="form.invalid">Enviar</button>
            </form>
        </div>
    </div>
</div>
